{% extends 'base.html' %}


{% block content%}
<main class="text-center">
  <form method="post" class="form-signin">
    <h1 class="h3 mb-3 fw-normal mt-3">Please log in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mt-3">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Sign in</button>
  </form>

  <div id="liveAlertPlaceholder">{{ msg }}</div>
</main>
{% endblock %}

