<!DOCTYPE html>
<html>
<head>
	<title>Restaurant List</title>
	<link rel="stylesheet" type="text/css" href="../Static/style.css">
</head>
<body>
	<header>
		<h1>Restaurant List</h1>
		<button onclick="goBack()">Go Back</button>
	</header>
	<main>
		<ul class="restaurants-list">
			<li>
				<h2>Restaurant Name</h2>
				<p>Distance: 1.5 km</p>
				<p>Budget: $$$</p>
				<div class="stars" data-rating="4.5">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star-half">&#9733;</span>
                  </div>                  
				<p>Short Description</p>
			</li>

		</ul>
	</main>
	<footer>
		<p>&copy; 2023 Restaurant App</p>
	</footer>
	<script src="script.js"></script>
</body>
</html>